

*{
    margin: 0;
    padding: 0;

}
span{
    color: red;
    font-weight: 700;


}
.banner_section{
    background-image: url(images/Banner\ Image.png);
/* Rectangle 15 */
    align-items: center;
    width: 1320px;
    height: 600px;
    margin: 50px auto;
    font-family:  Merriweather;
    
}
.banner_container{
    font-size: 45px;
    font-family: Merriweather ;
    padding-top: 150px;
    color: white;
    text-align: center;
    align-items: center;
    margin: auto;
   
}
.happy_newyear_container{
    font-family: inter;
    text-align: center;
    margin: auto;
    padding: 50px; 
}
.off{
    font-family: inter;
    font-size: 70px;
    font-weight: 800;
    padding: 25px;
    color: red;
    
}
.OUR_HOLIDAY{
    font-size: 24px;
    font-family: inter ;
    font-weight: 500;
    color: red;
}
.ALL_CATEGORIES{
    font-size: 45px;
    margin: 15px;
}
.midnight_party_section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1320px;
    height: 600px;
    background-image: url(images/Vectorrr.png);
    background-repeat: no-repeat;
    margin: 25px auto;
    text-align: left;
    color: white;
}
.welcome_to_midnight{
    font-size: 65px;
    
}
.midnight_ptag{
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}
.join_now{
    font-size: 20px;
    font-family: inter;
    margin: 50px 0px 0px 55px;

}
.join_now_section{
    font-family: inter;
    text-align: center;
    align-items: center;
    width: 1320px;
    height: 482px;
    margin: 130px auto;
    padding-top: 150px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);;
}

.time_date{
    font-size: 32px;
    padding: 15px;
}  
.btn{

width: 167px;
height: 56px;
padding: 100px;
align-items: center;
padding: 16px 32px 16px 32px;
border-radius: 8px;
color: white;
border-style: none;
background: rgb(255, 0, 0);
}
.coming_soon_container{
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    font-weight: 500;
    font-family: inter;
    width: 1320px;
    height: 463px;
    margin: 35px auto;
}
.best_offer_h1{
    font-size: 20px;
    color: red;
}
.comming_soon{
    font-size: 45px;
    font-family: Merriweather;
    padding: 11px 0px;
}
.h2024{
    font-size: 45px;
}
.p2024{
    padding: 11px 0px;
    color: gray;
}
.Holidays_Sale_container{
    text-align: center;
    align-items: center;
}
.Holidays_Sale_h5{
    font-size: 20px;
    font-family: inter;
}
.Holidays_h1{
    font-size: 65px;
    font-family: Merriweather;
    font-weight: 700;
    padding: 15px 0px;
}
.Holidays_ptag{
    color: gray;
    font-family: inter;
    padding: 11px 0px;
}
.Our_Awesome_Portfolio_container{
    width: 1320px;
    height: 1163px;
    margin: 10px auto;
}
.Portfolio_container_h5{
    font-size: 20px;
    font-family: inter;
}
.Awesome_Portfolio_h1{
    font-size: 45px;
    font-family: Merriweather;
    margin: 15px 0px;

}
.prodacts_container{
    margin: 25px auto;
    display: flex;
    gap: 25px;
}
.Subscribe_Newsletter_container{
    width: 1320px;
    height: 615px;
    text-align: center;
    align-items: center;
    padding-top: 45px;
    margin: 15px auto;
    background-color: rgba(255, 0, 0, 0.05);;
}
.Subscribe_h1{
    font-size: 60px;
    font-family: Merriweather;
    padding: 15px 0px;
}